/* Colors */
/* background: hsl(311, 5%, 30%)*/
/* background-2: hsl(311, 5%, 25%)*/
/* background-3: hsl(311, 25%, 35%)*/
/* primary: hsl(311, 85%, 47%)*/
/* secondary: hsl(165, 85%, 47%)*/
/* text: hsl(311, 68%, 88%)*/
/* subtext: hsl(311, 19%, 69%)*/
/* highlight_primary: hsl(114, 85%, 57%)*/
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/
/* Fonts */
/* General */
/*Components*/
/*Navbar and other background*/
#global-nav-bar, .Root__top-container, .main-navBar-mainNav {
  background-color: #50494F;
}

/*svgs*/
.Svg-img-icon-medium, .Svg-img-icon-small, .Svg-img-icon-xlarge {
  fill: #F5CCED !important;
}

/*Navbar home button*/
.Root__globalNav .main-globalNav-navLink {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: #433D42 !important;
  color: #F5CCED;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  font-family: "Open sans";
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1) !important;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  background-size: 8px 8px;
  border-radius: 8px;
}

.Root__globalNav .main-globalNav-navLink:hover {
  background-size: 8px 8px;
  background-image: linear-gradient(45deg, #E012BA 25%, #E012BA 25%, #E012BA 50%, #E012BA 50%, #E012BA 75%, #E012BA 75%, #E012BA) !important;
  text-shadow: 2px 2px 0 #E012BA, 2px -2px 0 #E012BA, -2px 2px 0 #E012BA, -2px -2px 0 #E012BA, 2px 0px 0 #E012BA, 0px 2px 0 #E012BA, -2px 0px 0 #E012BA, 0px -2px 0 #E012BA;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  transform: none;
}

/*Navbar search*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
  background-color: #433D42;
  border-radius: 4px;
  border: none;
  padding: 5px;
  color: #F5CCED;
  font-family: "Open sans";
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 0 0 transparent;
  caret-color: #F5CCED;
}

/*What do you want to play?*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
  color: #F5CCED !important;
  padding-right: var(--encore-layout-margin-looser);
}

/*Profile background*/
.main-userWidget-box {
  background-color: #50494F !important;
}

.main-userWidget-box:hover {
  transform: none;
}

/*Profile*/
.main-avatar-avatar {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: linear-gradient(45deg, #E012BA 25%, #E012BA 25%, #E012BA 50%, #E012BA 50%, #E012BA 75%, #E012BA 75%, #E012BA);
  color: #F5CCED;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  font-family: "Open sans";
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  background-size: 8px 8px;
  border-radius: 8px;
  text-shadow: 2px 2px 0 #E012BA, 2px -2px 0 #E012BA, -2px 2px 0 #E012BA, -2px -2px 0 #E012BA, 2px 0px 0 #E012BA, 0px 2px 0 #E012BA, -2px 0px 0 #E012BA, 0px -2px 0 #E012BA;
  padding-left: 11px;
  padding-right: 14px;
  min-height: 32px;
  margin: 0 !important;
  border-radius: 100%;
}

.main-avatar-avatar:hover {
  background-color: #433D42 !important;
}

/*Library*/
.main-yourLibraryX-entryPoints {
  background-color: #433D42;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  padding: 0;
}

.main-useDropTarget-base .main-useDropTarget-track .main-useDropTarget-local .main-useDropTarget-album .main-useDropTarget-artist .CU0fvofmxUbTupSDNOQ3 .main-useDropTarget-playlist .main-useDropTarget-show .main-useDropTarget-folder .main-useDropTarget-pseudoPlaylist .main-yourLibraryX-listItem {
  background-color: #433D42 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa {
  background-color: #433D42 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa:hover {
  background-color: #704367 !important;
}

/*Library playlist button*/
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: #433D42 !important;
  color: #F5CCED;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  font-family: "Open sans";
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1) !important;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  background-size: 8px 8px;
  border-radius: 8px;
}

.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle:hover {
  background-size: 8px 8px;
  background-image: linear-gradient(45deg, #E012BA 25%, #E012BA 25%, #E012BA 50%, #E012BA 50%, #E012BA 75%, #E012BA 75%, #E012BA) !important;
  text-shadow: 2px 2px 0 #E012BA, 2px -2px 0 #E012BA, -2px 2px 0 #E012BA, -2px -2px 0 #E012BA, 2px 0px 0 #E012BA, 0px 2px 0 #E012BA, -2px 0px 0 #E012BA, 0px -2px 0 #E012BA;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
}

.Button-buttonTertiary-medium-medium-iconLeading-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: linear-gradient(45deg, #E012BA 25%, #E012BA 25%, #E012BA 50%, #E012BA 50%, #E012BA 75%, #E012BA 75%, #E012BA);
  color: #F5CCED;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  font-family: "Open sans";
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  background-size: 8px 8px;
  border-radius: 8px;
  text-shadow: 2px 2px 0 #E012BA, 2px -2px 0 #E012BA, -2px 2px 0 #E012BA, -2px -2px 0 #E012BA, 2px 0px 0 #E012BA, 0px 2px 0 #E012BA, -2px 0px 0 #E012BA, 0px -2px 0 #E012BA;
}

/*# sourceMappingURL=user.css.map */
