/* Colors */
/* background: hsl(27, 15%, 93%)*/
/* card: hsl(0, 0%, 95%)*/
/* background-light: hsl(27, 15%, 83%)*/
/* primary: hsl(27, 85%, 47%)*/
/* secondary: hsl(139, 85%, 47%)*/
/* text: hsl(27, 69%, 20%)*/
/* subtext: hsl(27, 19%, 39%)*/
/* highlight_primary: hsl(114, 85%, 57%)*/
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/
/* Fonts */
/* General */
/*Components*/
/*Navbar and other background*/
#global-nav-bar, .Root__top-container, .main-navBar-mainNav {
  background-color: #f0edea;
}

/*svgs*/
.Svg-img-icon-medium, .Svg-img-icon-small, .Svg-img-icon-xlarge {
  fill: #562f10 !important;
}

/*Navbar home button*/
.Root__globalNav .main-globalNav-navLink {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: #f2f2f2 !important;
  color: #562f10;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  font-family: "Monaspace Radon";
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1) !important;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid #de6e12;
  background-size: 8px 8px;
  border-radius: 30px;
}

.Root__globalNav .main-globalNav-navLink:hover {
  background-size: 8px 8px;
  background-image: linear-gradient(45deg, #de6e12 25%, #f2f2f2 25%, #f2f2f2 50%, #de6e12 50%, #de6e12 75%, #f2f2f2 75%, #f2f2f2) !important;
  text-shadow: 2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, -2px -2px 0 #f2f2f2, 2px 0px 0 #f2f2f2, 0px 2px 0 #f2f2f2, -2px 0px 0 #f2f2f2, 0px -2px 0 #f2f2f2;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  transform: none;
}

/*Navbar search*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
  background-color: #f2f2f2;
  border-radius: 30px;
  border: 2px solid #de6e12;
  padding: 5px;
  color: #562f10;
  font-family: "Monaspace Xenon";
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 0 0 transparent;
  caret-color: #562f10;
}

/*What do you want to play?*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
  color: #562f10 !important;
  padding-right: var(--encore-layout-margin-looser);
}

/*Profile background*/
.main-userWidget-box {
  background-color: #f0edea !important;
}

.main-userWidget-box:hover {
  transform: none;
}

/*Profile*/
.main-avatar-avatar {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: linear-gradient(45deg, #de6e12 25%, #f2f2f2 25%, #f2f2f2 50%, #de6e12 50%, #de6e12 75%, #f2f2f2 75%, #f2f2f2);
  color: #562f10;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  font-family: "Monaspace Radon";
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid #de6e12;
  background-size: 8px 8px;
  border-radius: 30px;
  text-shadow: 2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, -2px -2px 0 #f2f2f2, 2px 0px 0 #f2f2f2, 0px 2px 0 #f2f2f2, -2px 0px 0 #f2f2f2, 0px -2px 0 #f2f2f2;
  padding-left: 14px;
  padding-right: 14px;
  min-height: 32px;
  margin: 0 !important;
  border-radius: 100%;
}

.main-avatar-avatar:hover {
  background-color: #f2f2f2 !important;
}

/*Library*/
.main-yourLibraryX-entryPoints {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 0px #12de52, 0 0 0 transparent;
  border: 2px solid #de6e12;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 2px;
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
  padding: 0;
}

.main-useDropTarget-base .main-useDropTarget-track .main-useDropTarget-local .main-useDropTarget-album .main-useDropTarget-artist .CU0fvofmxUbTupSDNOQ3 .main-useDropTarget-playlist .main-useDropTarget-show .main-useDropTarget-folder .main-useDropTarget-pseudoPlaylist .main-yourLibraryX-listItem {
  background-color: #f2f2f2 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa {
  background-color: #f2f2f2 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa:hover {
  background-color: #dad3cd !important;
}

/*Library playlist button*/
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: #f2f2f2 !important;
  color: #562f10;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  font-family: "Monaspace Radon";
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1) !important;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid #de6e12;
  background-size: 8px 8px;
  border-radius: 30px;
}

.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle:hover {
  background-size: 8px 8px;
  background-image: linear-gradient(45deg, #de6e12 25%, #f2f2f2 25%, #f2f2f2 50%, #de6e12 50%, #de6e12 75%, #f2f2f2 75%, #f2f2f2) !important;
  text-shadow: 2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, -2px -2px 0 #f2f2f2, 2px 0px 0 #f2f2f2, 0px 2px 0 #f2f2f2, -2px 0px 0 #f2f2f2, 0px -2px 0 #f2f2f2;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
}

.Button-buttonTertiary-medium-medium-iconLeading-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: linear-gradient(45deg, #de6e12 25%, #f2f2f2 25%, #f2f2f2 50%, #de6e12 50%, #de6e12 75%, #f2f2f2 75%, #f2f2f2);
  color: #562f10;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  font-family: "Monaspace Radon";
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid #de6e12;
  background-size: 8px 8px;
  border-radius: 30px;
  text-shadow: 2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, -2px -2px 0 #f2f2f2, 2px 0px 0 #f2f2f2, 0px 2px 0 #f2f2f2, -2px 0px 0 #f2f2f2, 0px -2px 0 #f2f2f2;
}

/*Filter buttons*/
.ChipInnerComponent-sm-isUsingKeyboard {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  background: #f2f2f2 !important;
  color: #562f10;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
  font-family: "Monaspace Radon";
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1) !important;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid #de6e12;
  background-size: 8px 8px;
  border-radius: 30px;
}

.ChipInnerComponent-sm-isUsingKeyboard:hover {
  background-size: 8px 8px;
  background-image: linear-gradient(45deg, #de6e12 25%, #f2f2f2 25%, #f2f2f2 50%, #de6e12 50%, #de6e12 75%, #f2f2f2 75%, #f2f2f2) !important;
  text-shadow: 2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, -2px -2px 0 #f2f2f2, 2px 0px 0 #f2f2f2, 0px 2px 0 #f2f2f2, -2px 0px 0 #f2f2f2, 0px -2px 0 #f2f2f2;
  box-shadow: 0 0 0 transparent, 0px 2px 0px #12de52;
}

.ChipInnerComponent-sm-selected-isUsingKeyboard {
  background: #de6e12;
  box-shadow: 0 0 0 transparent;
  background-size: 8px 8px;
}

/*# sourceMappingURL=user.css.map */
