@define-color accent #60cdff;
@define-color txt #cad3f5;
@define-color bg #252525;
@define-color bg2 #202020;

 * {
    font-family: 'Comic Neue Regular', sans-serif;
    font-size: 16px;
 }

 /* Window */
 window {
    margin: 2px;
    padding: 10px;
    border: solid 2px #3179EB;
    border-radius: 30px;
    background-color: @bg;
    animation: slideIn 0.5s ease-in-out both;
    box-shadow: 0 2 0 0 #EB308F;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 0;
    padding: 0;
    border: none;
    background-color: @bg2;
    border: solid 2px #3979EB;
    border-radius: 30px;
    animation: fadeIn 0.5s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 0;
    padding: 30px;
    border: none;
    background-color: transparent;
    box-shadow: 0 2 0 0 #EB308F;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    /* border: none; */
 }

 /* Input */
 #input {
   margin-bottom: 30px;
    padding: 15px;
    border: none;
    color: @txt;
    background-color: @bg2;
    animation: fadeIn 0.5s ease-in-out both;
    border: solid 2px #3979EB;
    border-radius: 30px;
    font-family: 'Monaspace Radon';
    font-size: 20px;
    font-weight: 700;
 }
 #input: hover{
    box-shadow: 0 2 0 0 #EB308F;
}

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.5s ease-in-out both;
    font-family: 'Monaspace Xenon';
 }

 /* Selected Entry */
 #entry:selected {
   background-color: #3d3d3d;
   border-radius: 30px;
 }

 #entry:selected #text {
    color: @txt;
 }
