@use "sass:color";

/* Colors */
$background: #F0EDEA;
/* background: hsl(27, 15%, 93%)*/
$background-2: #F2F2F2;
/* card: hsl(0, 0%, 95%)*/
$background-3: #DAD3CD;
/* background-light: hsl(27, 15%, 83%)*/
$primary: #E06F12;
/* primary: hsl(27, 85%, 47%)*/
$secondary: #12DE52;
/* secondary: hsl(139, 85%, 47%)*/
$text: #562F10;
/* text: hsl(27, 69%, 20%)*/
$subtext: #766251;
/* subtext: hsl(27, 19%, 39%)*/
$error: #e99898;
$scrim: #000000;

/* Fonts */
$h1_font: 'Monaspace Radon';
$h2_font: 'Monaspace Radon';
$paragraph_font: 'Monaspace Xenon';
$subtext_font: 'Monaspace Xenon';
$h1_weight: normal;
$h2_weight: normal;
$paragraph_weight: 300;
$subtext_weight: 100;
$h1_size: 24px;
$h2_size: 18px;
$paragraph_size: 14px;
$subtext_size: 11px;

/*Common*/

* {
    outline: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    -gtk-icon-shadow: none;
}

icon {
    box-shadow: none;
    text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
}

slider {
    border: none;
    outline: none;

    // Check that this is the correct color
    background: $background;
}

separator {
    background: none;
}

window {
    background: none;
}

button {
    background: none;
    border: none;
    box-shadow: none;
}

label {
    box-shadow: none;
}

window.popup {
    >* {
        border: none;
        box-shadow: none;
    }

    menu {
        margin-top: 12px;
        border-radius: 26px;
        // check that this is the correct color
        background-color: $background;
        padding: 10px;

        // separator {
        //     background-color: $border_color;
        // }

        menuitem {
            min-width: 140px;
            padding: 12px 6px;
            color: $text;
            border-radius: 100px;
            transition: background 0.1s cubic-bezier(0.85, 0, 0.15, 1);

            &:hover {
                // check that this is the correct color
                background: $background-2;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

switch {
    border: 2px solid $subtext;
    border-radius: 100px;
    background-color: $background-2;
}

switch slider {
    box-shadow: none;
    border-radius: 100px;
    background-color: $subtext;
}

switch:hover slider,
switch:active slider {
    background-color: $subtext;
}

switch:active {
    background-color: $background-2;
}

switch:checked {
    background-color: $primary;
    border: 2px solid $primary;
}

switch:checked slider {
    background-color: $secondary;
}

/*Components*/

.material-button {
    border-radius: 30px;
    padding: 3px 15px;

    &:focus {
        box-shadow: 0 0 0 1px $text;
    }

    &.filled {
        background-image: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2);
        background-size: 8px 8px;
        border: 2px solid $primary;
        box-shadow: 0px 2px 0px 0px $secondary;
        color: $text;
        border: 2px solid $primary;
        text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;

        &:hover,
        &:focus {
            background: $primary;
            background-size: 8px 8px;
            color: $background;
        }

        &:active {
            background: $primary;
            background-size: 8px 8px;
            color: $background;
        }
    }

    &.outlined {
        background: none;
        color: $text;
        border: 2px solid $primary;

        &:hover {
            background-image: linear-gradient(45deg,
                    $primary 25%,
                    $background-2 25%,
                    $background-2 50%,
                    $primary 50%,
                    $primary 75%,
                    $background-2 75%,
                    $background-2);
            background-size: 8px 8px;
            border: 2px solid $primary;
            box-shadow: 0px 2px 0px 0px $secondary;
            border: 2px solid $primary;
            text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
        }

        &:focus {
            background: $primary;
        }

        &:active {
            background: $primary;
        }
    }
}


/*Bar*/

.bar {
    min-height: 60px;
    padding: 0 12px;
    background: $background;
    margin: 7px 7px 0px 7px;
    border-radius: 30px;
    border: 2px solid $primary;
}

.arch-container {
    padding: 10px 0px
}

.bar__item {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    border-radius: 24px;
    background: $background-2;
    color: $text;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    font-family: $h2_font;
    background-size: 8px 8px;
    transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);

    &.bar__button {
        &:hover {
            background-image: linear-gradient(45deg,
                    $primary 25%,
                    transparent 25%,
                    transparent 50%,
                    $primary 50%,
                    $primary 75%,
                    transparent 75%,
                    transparent);
            background-size: 8px 8px;
            text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
        }

        &:active {
            background: $primary;
            background-size: 8px 8px;
        }

        &.active {
            background: $primary;
            color: $text;
        }

        &.bar__recording-indicator {
            padding: 0;
            min-height: 42px;
            min-width: 42px;
            background: $error;
            color: $text;

            &:hover {
                color: $error;
                background: $text;
            }

            &.spacing {
                label {
                    min-width: 54px;
                    margin-right: 8px;
                }

                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
}

.bar__item.transparent {
    background: transparent;
    color: $text;
}

.bar__item.primary_container {
    background: $background-2;
    color: $text;
}

.bar__workspaces-indicator {
    padding: 0;
    min-width: 8px;
    min-height: 8px;
    transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1);
    border-radius: 100px;
    border: 2px solid $primary;
    background-color: $background-2;
    background-size: 8px 8px;

    &:hover {
        background-color: color.adjust($primary, $alpha: -0.4);
    }

    &.active,
    &:active {
        min-height: 12px;
        min-width: 40px;
        border-radius: 100px;
        background-image: linear-gradient(45deg,
                $primary 25%,
                transparent 25%,
                transparent 50%,
                $primary 50%,
                $primary 75%,
                transparent 75%,
                transparent);
        background-size: 8px 8px;
        box-shadow: 0px 2px 0px 0px $secondary;
    }
}

.bar__active-app {
    padding-left: 12px;
    padding-right: 16px;

    icon {
        min-width: 20px;
        min-height: 20px;
        font-size: 20px;
    }

    .desktop {
        icon {
            font-size: 14px;
        }
    }
}

.bar__keyboard-layout {
    padding: 0;
    min-height: 42px;
    min-width: 42px;
}

.bar__battery {
    padding-left: 10px;
    padding-right: 10px;
}

.bar__notifications {
    padding-left: 12px;
    padding-right: 10px;
}

.bar__notifications_label {
    font-size: 12px;
    border-radius: 9px;
    min-width: 18px;
    min-height: 18px;
    background: $text;
    color: $background-2;
}

.bar__tray {
    padding-left: 10px;
    padding-right: 10px;
}

.bar__tray-item {
    padding: 0;
    min-width: 22px;
    min-height: 22px;
    background: none;

    &:hover {
        background-color: color.adjust($primary, $alpha: -0.4);
    }

    icon {
        font-size: 18px;
    }
}

.bar__rounded-box {
    .bar__item {
        border-radius: 15px;
    }
}

.bar__rounded-box>* {
    &:last-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &:first-child,
    &:first-child>* {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}

/*Control Center*/

.control-center__container {
    border-radius: 30px;
    min-width: 450px;
    min-height: 650px;
    background: $background;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
}

.control-center__page {
    padding: 20px 20px 0px 20px;
}

.control-center__page.main {
    padding: 10px;
}

.control-center__page_scrollable-content {
    margin-bottom: 20px;
}

.control-center__page_header {
    color: $text;
    margin-top: 8px;
    margin-bottom: 24px;

    label {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
    }
}

.control-center__page_header_button {
    background: $background-2;
    border: 2px solid $primary;
    color: $text;
    min-width: 38px;
    min-height: 38px;
    border-radius: 100px;

    &:hover {
        background-color: $primary;
        text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
    }
}

.control-center__page_item-header {
    background: $background;
    color: $text;
    font-family: $h2_font;
    font-size: $h2_size;
    font-weight: $h2_weight;


    &.active {
        background: $background-2;
    }

    border-radius: 30px;
    padding: 0px 22px;
    min-height: 80px;
    transition: background 0.1s cubic-bezier(0.85, 0, 0.15, 1);
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;

    label {
        font-size: $h2_size;
        font-weight: $h2_weight;
        margin-left: 16px;
    }
}

.control-center__page_item {
    background: $background-2;
    border: 2px solid $primary;

    &:first-child {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: 10px;
    }

    &:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    padding: 18px 22px;
    color: $text;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    transition: background 0.1s cubic-bezier(0.85, 0, 0.15, 1);
    box-shadow: 0px 2px 0px 0px $secondary;

    label {
        font-size: $paragraph_size;
        font-weight: $paragraph_weight;
        font-family: $paragraph_font;
        color: $text;
        margin-left: 16px;
    }

    &:hover {
        background-color: $background-3;
    }
}

.control-center__button {
    background-color: $background-2;
    border: 2px solid $primary;
    color: $text;
    padding: 10px 24px 10px 30px;
    border-radius: 30px;
    font-family: 'Monaspace Radon';
    background-size: 8px 8px;
    margin-bottom: 2px;
    transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);

    &.active {
        background-image: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2 );
        background-size: 8px 8px;
        border: 2px solid $primary;
        box-shadow: 0px 2px 0px 0px $secondary;
        color: $text;
        text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;

        &:hover {
            background: $primary;
            background-size: 8px 8px;
        }

        &:active {
            background: $primary;
            background-size: 8px 8px;
        }
    }

    &:hover {
        background-image: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2 );
        background-size: 8px 8px;
        border: 2px solid $primary;
        box-shadow: 0px 2px 0px 0px $secondary;
        color: $text;
        text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
    }

    font-size: 14px;
    font-weight: 600;

    &.no-label {
        padding: 0;
    }

    &.recorder-indicator {
        &.active {
            background: $error;
            color: $text;

            &:hover {
                background: $background-2;
            }

            &:active {
                background: $error;
            }
        }
    }
}

.control-center__dropdown-menu {
    background: $background;
    border-radius: 30px;
    padding: 24px;
}

.control-center__dropdown-menu_icon {
    font-size: 20px;
    color: $text;
}

.control-center__dropdown-menu_title {
    font-size: 20px;
    font-weight: 600;
}

.control-center__dropdown-menu_item {
    icon {
        font-size: 16px;
    }

    label {
        font-size: 16px;
    }
}

.control-center__brightness-slider,
.control-center__volume-slider {
    * {
        padding: 0;
        margin: 0;
        border: none;
    }

    .control-center__slider-icon {
        color: $text;
        margin-left: 0;
        font-size: 20px;
    }

    trough {
        transition:
            background-color 0.3s cubic-bezier(0.85, 0, 0.15, 1),
            color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
        border-radius: 100px;
        background-color: $background-3;
        min-height: 15px;

        highlight {
            min-width: 15px;
            transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
            border-radius: 30px;
            transition: min-width 0.1s cubic-bezier(0.85, 0, 0.15, 1);
            background-image: linear-gradient(45deg,
                    $primary 25%,
                    $background-2 25%,
                    $background-2 50%,
                    $primary 50%,
                    $primary 75%,
                    $background-2 75%,
                    $background-2);
            background-size: 8px 8px;
            border: 2px solid $primary;
            padding: 2px 0px;
            margin: -2px 0px;
        }

        slider {
            min-width: 30px;
            border-radius: 100px;
            background-color: transparent;
            box-shadow: none;

            transition:
                background-color 0.3s cubic-bezier(0.85, 0, 0.15, 1),
                color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
        }
    }
}

.muted {
    .control-center__volume-slider {
        highlight {
            background-color: $background;
        }
    }

    .control-center__slider-icon {
        color: $text;
    }
}

.control-center__time-to-empty {
    color: $text;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    font-family: $paragraph_font;
}

.control-center__settings-button,
.control-center__powermenu-button {
    min-width: 42px;
    min-height: 42px;
    background: $background-2;
    color: $text;
    border: 2px solid $primary;
    border-radius: 100px;
    transition: all 0.15s cubic-bezier(0.85, 0, 0.15, 1);
}

.control-center__settings-button {
    &:hover {
        background: $secondary;
        color: $text;
    }
}

.control-center__powermenu-button {
    &:hover {
        background: $secondary;
        color: $text;
    }
}

.control-center__footer {
    margin: 10px 8px;
}

/*Dashboard*/

.dashboard {
    border-radius: 0px;
    min-width: 420px;
    transition:
        background-color 1s cubic-bezier(0.85, 0, 0.15, 1),
        color 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.block {
    background: $background;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    transition:
        background-color 1s cubic-bezier(0.85, 0, 0.15, 1),
        color 1s cubic-bezier(0.85, 0, 0.15, 1);
    font-family: 'Monaspace Xenon';
    margin-bottom: 100px;
}

.placeholder {
    // color: $outline;
    color: red;

    label {
        font-size: 18px;
    }
}

.calendar__header {
    margin-top: 12px;
    padding: 10px;
    font-family: $h1_font;
    font-size: $h1_size;
    font-weight: $h1_weight;
}

.calendar__monthyear {
    * {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
        color: $text;
    }
}

.calendar__weekdays {
    color: $text;
}

.calendar__days {
    color: $text;
}

.calendar__button {
    padding: 10px 12px;
}

.calendar__button__today {
    border-radius: 100px;
    background: $background-2;
    color: $text;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    background-image: linear-gradient(45deg,
            $primary 25%,
            transparent 25%,
            transparent 50%,
            $primary 50%,
            $primary 75%,
            transparent 75%,
            transparent);
    background-size: 8px 8px;
    text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
    font-family: 'Monaspace Radon';
    font-weight: bold;
}


.calendar__button {
    color: $text;
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
}

.calendar__button__other-month {
    color: $subtext;
    font-family: $subtext_font;
    font-size: $subtext_size;
    font-weight: $subtext_weight;
}


.calendar__weekday {
    min-height: 40px;
    min-width: 36px;
}

.calendar__day {
    border-radius: 100px;
    min-height: 40px;
    min-width: 40px;

    &.active {
        background: $primary;
    }

    &.inactive {
        color: $background;
    }
}

/*Notification*/

.notification {
    padding: 14px 16px 14px 20px;
    color: $text;
    background-color: $background;
    border-radius: 30px;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
}

.notification__icon {
    min-height: 30px;
    min-width: 30px;
    margin-right: 14px;
    border-radius: 100px;
    background: $background-2;
    border: 2px solid $primary;
}

.notification__icon.telegram {
    margin-top: 8px;
}

.notification__title {
    font-size: 15px;
    font-weight: 500;
    font-family: 'monaspace radon';
}

.notification__header {
    margin-top: 6px;
    margin-bottom: 10px;
    font-family: 'monaspace radon';
}

.notification__app-name,
.notification__dot,
.notification__time {
    color: $subtext;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Monaspace Xenon';
}

.notification__description {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Monaspace Xenon';
}

.notification__actions {
    margin-top: 8px;
}

.notification__action {
    background: none;
    transition: color 0.1s cubic-bezier(0.85, 0, 0.15, 1);
    color: $primary;
    border-radius: 100px;

    &:hover {
        color: $text;
        transition: color 0.1s cubic-bezier(0.85, 0, 0.15, 1);
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.notification__close-button {
    padding: 0;
    min-width: 22px;
    min-height: 22px;
    border-radius: 100px;
    background-color: $background-2;
    color: $text;
    font-size: 16px;
    border: 2px solid $primary;
    transition:
        background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1),
        color 0.2s cubic-bezier(0.85, 0, 0.15, 1);

    &:hover {
        background: $error;
        color: $subtext;
    }
}

/*NotificationsPopup*/

.NotificationsPopup {
    background: none;
}

.notifications-popup {
    min-width: 450px;
}

/*NotificationsWindow*/

.notifications-window {
    border-radius: 30px;
    min-width: 400px;
    min-height: 550px;
    padding: 10px 10px 0;
    background: $background;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
    /* Don't cut off the box shadow*/
    transition:
        background-color 0.1s cubic-bezier(0.85, 0, 0.15, 1),
        color 0.1s cubic-bezier(0.85, 0, 0.15, 1);

    .notification {
        border-radius: 4px;
        transition: border-radius 0.2s cubic-bezier(0.85, 0, 0.15, 1);
        background-color: $background-2;
        box-shadow: 0px 2px 0px 0px $secondary;
    }
}

.notifications-window__clear {
    background: $background-2;
    padding: 10px 16px;
    margin-right: 18px;
    border-radius: 30px;
    color: $text;
    font-family: 'Monaspace Radon';
    border: 2px solid $primary;
}

.notifications-window__clear:hover {
    background: $primary;
    text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
}

.notifications-window__list {
    revealer {
        .notification {
            border-radius: 15px;
        }
    }

    revealer:first-child {
        .notification {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
    }

    revealer:last-child {
        .notification {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            margin-bottom: 10px;
        }
    }
}

/*OSD*/

.OSD,
.osd {
    background: transparent;

    icon {
        font-size: 35px;
        margin-left: 25px;
    }
}

.container {
    background-color: $background;
    border-radius: 30px;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 20px;
}

.indicator .progress {
    border-radius: 30px;
    background-color: $background-3;
    margin: 25px;
    padding: 0px;


    .fill {
        transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
        border-radius: 30px;
        color: $text;
        transition: min-width 0.1s cubic-bezier(0.85, 0, 0.15, 1);
        background-image: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2);
        background-size: 8px 8px;
        border: 2px solid $primary;
        padding: 2px 0px;
        margin: -2px 0px;

        &.muted {
            background-color: $background;
            color: $text;
        }
    }
}

/*Player*/

.player {
    min-height: 155px;
    background: $background;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
    padding: 20px 10px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    transition: background 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.player__icon {
    font-size: 20px;
}

.player__box {
    background-color: $background-2;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid $primary;
}

.player__title {
    font-weight: $h1_weight;
    font-size: $h1_size;
    font-family: $h1_font;
    color: $text;
    padding-right: 18px;
}

.player__artist {
    padding-right: 18px;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    font-family: $paragraph_font;
    color: $text;
    padding-top: 10px;
}

.player__playpause {
    min-width: 60px;
    min-height: 60px;
    padding: 0;
    background: $background-2;
    color: $text;
    font-size: $h1_size;
    border-radius: 0px;
    border: 2px solid $primary;
    transition:
        background 0.3s cubic-bezier(0.85, 0, 0.15, 1),
        border-radius 0.3s cubic-bezier(0.85, 0, 0.15, 1),
        color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
    border-radius: 30px;
    background-size: 8px 8px;

    &.active {
        border-radius: 25px;
        background: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2);
        background-size: 8px 8px;
        border: 2px solid $primary;

    }
}

.player__next,
.player__previous {
    background: none;
}

.player__title-box {
    animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);

    &.dissappear {
        animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
    }
}

.player__position-slider {
    trough {
        transition:
            background 0.3s cubic-bezier(0.85, 0, 0.15, 1),
            color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
        border-radius: 100px;
        background-color: $background-3;
        min-height: 15px;

        highlight {
            min-width: 15px;
            transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
            border-radius: 30px;
            transition: min-width 0.1s cubic-bezier(0.85, 0, 0.15, 1);
            background-image: linear-gradient(45deg,
                    $primary 25%,
                    $background-2 25%,
                    $background-2 50%,
                    $primary 50%,
                    $primary 75%,
                    $background-2 75%,
                    $background-2);
            background-size: 8px 8px;
            border: 2px solid $primary;
            padding: 2px 0px;
            margin: -2px 0px;
        }

        slider {
            min-width: 30px;
            border-radius: 100px;
            background-color: transparent;
            box-shadow: none;

            transition:
                background-color 0.3s cubic-bezier(0.85, 0, 0.15, 1),
                color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
        }
    }
}


.player__indicator {
    min-width: 8px;
    min-height: 8px;
    background: $background;
    border-radius: 100px;
    margin-bottom: 8px;
    transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);

    &.selected {
        background: $text;
    }
}


@keyframes slide {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100px;
        opacity: 0;
    }
}

@keyframes slide-back {
    from {
        margin-left: 100px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

/*PopupMenu*/

.PopupMenu {
    background: none;
}

.popup-menu {
    min-height: 400px;
    background: $background;
    border-radius: 30px;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
    padding: 0 20px;

    &.sink {
        min-width: 350px;
    }

    &.mixer {
        min-width: 500px;
    }

    &.theme-settings {
        min-width: 400px;
    }
}

.profiles {
    min-height: 270px;
}

.popup-menu__header {
    margin: 30px 16px;
    margin-bottom: 0px;

    label {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
        color: $text;
    }
}

.popup-menu__content {
    >*>* {
        background: none;
    }
}

.popup-menu__item {
    background: none;
    padding: 18px;
    color: $text;
    border-radius: 100px;
    transition: background 0.1s cubic-bezier(0.85, 0, 0.15, 1);

    label {
        font-size: 14px;
        font-weight: 500;
    }

    icon {
        margin-right: 16px;
    }

    &:hover {
        background-color: $background-2;
    }

    &:last-child {
        margin-bottom: 20px;
    }
}

.mixer__item {
    icon {
        font-size: 32px;
        margin-right: 0px;
    }

    padding: 10px;

    &:hover {
        background: none;
    }
}

// .mixer__tooltip {
// background: $background-2;
// border-radius: 100px;
// }

.mixer__slider {
    padding: 0;
    margin: 0;

    trough {
        margin-top: 6px;
        border-radius: 100px;
        background-color: $background;
        min-height: 14px;

        highlight,
        progress {
            border-radius: 100px;
            background-color: $primary;
            border-radius: 100px;
        }

        slider {
            border-radius: 100px;
            min-height: 14px;
            min-width: 14px;
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.mixer__value {
    background: $background-2;
    border-radius: 100px;
    min-width: 56px;
}

.bluetooth__percentage {
    background: $background-2;
    color: $text;
    border-radius: 100px;
    padding: 0px 12px;
    margin-left: 12px;
    border: 2px solid $primary;
}

.mixer-placeholder {
    margin-top: -50px;

    label {
        font-size: 18px;
    }
}

/*PowerMenu*/

.powermenu {
    padding: 24px;
    border-radius: 30px;
    background: $background;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    margin-bottom: 2px;
}

.powermenu__button_icon {
    font-size: 35px;
}

.powermenu__button {
    padding: 0;
    background: $background-2;
    color: $text;
    min-width: 100px;
    min-height: 100px;
    border-radius: 30px;
    border: 2px solid $primary;
    box-shadow: 0px 2px 0px 0px $secondary;
    text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
    background-size: 8px 8px;

    &:hover,
    &:focus {
        background-image: linear-gradient(45deg,
                $primary 25%,
                transparent 25%,
                transparent 50%,
                $primary 50%,
                $primary 75%,
                transparent 75%,
                transparent);
        background-size: 8px 8px;
        box-shadow: 0px 2px 0px 0px $secondary;
    }

    &:active {
        background: $background-2;
    }
}

.powermenu__label {
    font-size: 16px;
    font-weight: 500;
    font-family: 'monaspace xenon';
    margin-top: 25px;
    color: $text;
}

.verification {
    min-width: 300px;
    padding: 24px;
    border-radius: 30px;
    background: $background;
    border: 2px solid $primary;
}

.verification__title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'monaspace radon';
}

.verification__description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'monaspace xenon';
}

/*Scrim*/

.transparent-scrim {
    background: transparent;
}

.scrim {
    background: color.adjust($scrim, $alpha: -0.5);
}

/*ThemeSettings*/

.buttons-container {
    min-width: 360px;
    padding: 20px;
}

.mode-settings__button_left {
    background-color: $background-2;
    border: 2px solid $primary;
    border-radius: 30px 0px 0px 30px;
    color: $text;
    font-family: $h2_font;
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 170px;
    padding: 10px 0px;

    &.active {
        background: $primary;
        color: $text;
    }
}

.mode-settings__button_right {
    background-color: $background-2;
    border: 2px solid $primary;
    border-radius: 0px 30px 30px 0px;
    color: $text;
    font-family: $h2_font;
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 170px;
    padding: 10px 0px;

    &.active {
        background: $primary;
        color: $text;
    }
}

.theme {
    font-family: $h1_font;
    font-size: $h1_size;
    font-weight: $h1_weight;
    color: $text;
    padding: 7px;
}

.theme-buttons {
    background-color: $background-2;
    border: 2px solid $primary;
    border-radius: 30px;
    color: $text;
    padding: 10px 0px;
    min-width: 75px;

}

.label {
    font-family: $paragraph_font;
    color: $text;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    padding-top: 15px;
}

/*Weather*/

.weather-window {
    background-color: $background;
    min-height: 150px;
    min-width: 300px;
    border-radius: 30px;
    border: 2px solid $primary;
    padding: 20px;
    color: $text;
}

.temperature {
    font-size: 30px;
    font-family: 'Monaspace Radon';
    font-weight: bold;
}

.location_input {
    background-color: $background;
    border-radius: 30px;
    border: 2px solid $primary;
    padding: 5px;
    color: $text;
    font-family: 'Monaspace Xenon';
}

.location {
    font-family: 'Monaspace Radon';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.location-header-container {
    min-width: 300px;
}