.bar {
	min-height: 60px;
	padding: 0 12px;
	background: $background;
	margin: 7px 7px 0px 7px;
	border-radius: 30px;
	border: 2px solid $primary;
}

.bar__item {
	padding: 0px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 16px;
	padding-right: 16px;
	min-height: 42px;
	border-radius: 24px;
	background: $card;
	color: $on_surface;
	border: 2px solid $primary;
	box-shadow: 0px 2px 0px 0px $secondary;
	font-family: 'Monaspace Radon';
	background-size: 8px 8px;
	transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	&.bar__button {
		&:hover {
			background-image: linear-gradient(
				45deg, 
				$primary 25%, 
				transparent 25%, 
				transparent 50%, 
				$primary 50%, 
				$primary 75%, 
				transparent 75%, 
				transparent
				);
				background-size: 8px 8px;
				text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
		}
		&:active {
			background: $primary;
			background-size: 8px 8px;
		}
		&.active {
			background: $primary;
			color: $on_primary;
		}
		&.bar__recording-indicator {
			padding: 0;
			min-height: 42px;
			min-width: 42px;
			background: $error_container;
			color: $on_error_container;

			&:hover {
				color: $error_container;
				background: $on_error_container;
			}
			&.spacing {
				label {
					min-width: 54px;
					margin-right: 8px;
				}
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}
}

.bar__item.transparent {
	background: transparent;
	color: $on_surface;
}

.bar__item.primary_container {
	background: $primary_container;
	color: $on_primary_container;
}

.bar__app-launcher.bar__button {
	padding: 0px;
	transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
			background-image: linear-gradient(
				45deg, 
				$primary 25%, 
				transparent 25%, 
				transparent 50%, 
				$primary 50%, 
				$primary 75%, 
				transparent 75%, 
				transparent
				);
				background-size: 8px 8px;
				text-shadow: -1.5px -1.5px 0 $background, 1.5px -1.5px 0 $background, -1.5px 1.5px 0 $background, 1.5px 1.5px 0 $background;
	min-height: 42px;
	min-width: 42px;

	.bar__app-launcher_icon {
		background-color: $on_primary;
		min-width: 14px;
		min-height: 14px;
		border-radius: 100%;
		transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	}

	&:hover {
		background-color: $on_primary;
		.bar__app-launcher_icon {
			background-color: $primary;
		}
	}

	&.active,
	&:active {
		background-color: $primary_container;
		.bar__app-launcher_icon {
			background-color: $on_primary_container;
		}
	}
}

.bar__workspaces-indicator {
	padding: 0;
	min-width: 8px;
	min-height: 8px;
	transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1);
	border-radius: 100px;
	border: 2px solid $primary;
	background-color: $card;
	background-size: 8px 8px;

	&:hover {
		background-color: transparentize($primary, 0.4);
	}

	&.active,
	&:active {
		min-height: 12px;
		min-width: 40px;
		border-radius: 100px;
		background-image: linear-gradient(
    	45deg, 
		$primary 25%, 
    	transparent 25%, 
    	transparent 50%, 
    	$primary 50%, 
    	$primary 75%, 
    	transparent 75%, 
    	transparent
    	);
		background-size: 8px 8px;
		box-shadow: 0px 2px 0px 0px $secondary;
	}
}

.bar__active-app {
	padding-left: 12px;
	padding-right: 16px;
	icon {
		min-width: 20px;
		min-height: 20px;
		font-size: 20px;
	}
	.desktop {
		icon {
			font-size: 14px;
		}
	}
}

.bar__keyboard-layout {
	padding: 0;
	min-height: 42px;
	min-width: 42px;
}

.bar__battery {
	padding-left: 10px;
	padding-right: 10px;
}

.bar__notifications {
	padding-left: 12px;
	padding-right: 10px;
}

.bar__notifications_label {
	font-size: 12px;
	border-radius: 9px;
	min-width: 18px;
	min-height: 18px;
	background: $inverse_surface;
	color: $surface;
}

.bar__tray {
	padding-left: 10px;
	padding-right: 10px;
}

.bar__tray-item {
	padding: 0;
	min-width: 22px;
	min-height: 22px;
	background: none;
	&:hover {
		background-color: transparentize($primary, 0.4);
	}
	icon {
		font-size: 18px;
	}
}

.bar__rounded-box {
	.bar__item {
		border-radius: 15px;
	}
}

.bar__rounded-box > * {
	&:last-child {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&:first-child,
	&:first-child > * {
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
}
