@use "./colors.scss" as colors;

.dashboard {
	border-radius: 30px;
	min-width: 420px;
	transition:
		background-color 1s cubic-bezier(0.85, 0, 0.15, 1),
		color 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.block {
	background: colors.$background;
	border-radius: 30px;
	padding: 20px;
	border: 2px solid colors.$primary;
	box-shadow: 0px 2px 0px 0px colors.$secondary;
	transition:
		background-color 1s cubic-bezier(0.85, 0, 0.15, 1),
		color 1s cubic-bezier(0.85, 0, 0.15, 1);
	font-family: 'Monaspace Xenon';
}

.placeholder {
	// color: colors.$outline;
	color: red;
	label {
		font-size: 18px;
	}
}

.calendar__header {
	margin-top: 12px;
	padding: 10px;
}

.calendar__monthyear {
	* {
		font-size: 18px;
		font-weight: bold;
		font-family: 'Monaspace Radon';
		color: colors.$text;
	}
}

.calendar__weekdays {
	color: colors.$text;
}
.calendar__days {
	color: colors.$text;
}

.calendar__button {
	padding: 10px 12px;
}

.calendar__button__today {
	border-radius: 100px;
	background: colors.$card;
	color: colors.$text;
	border: 2px solid colors.$primary;
	box-shadow: 0px 2px 0px 0px colors.$secondary;
	background-image: linear-gradient(
		45deg, 
		colors.$primary 25%, 
		transparent 25%, 
		transparent 50%, 
		colors.$primary 50%, 
		colors.$primary 75%, 
		transparent 75%, 
		transparent
		);
		background-size: 8px 8px;
		text-shadow: -1.5px -1.5px 0 colors.$background, 1.5px -1.5px 0 colors.$background, -1.5px 1.5px 0 colors.$background, 1.5px 1.5px 0 colors.$background;
	font-family: 'Monaspace Radon';
	font-weight: bold;
}


.calendar__button{
	color: colors.$text;
}

.calendar__button__other-month {
  color: colors.$subtext;
}


.calendar__weekday {
	min-height: 40px;
	min-width: 36px;
	font-weight: 600;
}

.calendar__day {
	border-radius: 100px;
	min-height: 40px;
	min-width: 40px;
	&.active {
		background: colors.$primary;
		// color: colors.$on_primary;
		color: red;
	}
	&.inactive {
		color: colors.$inverse_surface_transparent_variant;
	}
}

