@use "./colors.scss" as colors;

.notifications-window {
	border-radius: 30px;
	min-width: 400px;
	min-height: 550px;
	padding: 10px 10px 0;
	background: colors.$background;
	border: 2px solid colors.$primary;
	box-shadow: 0px 2px 0px 0px colors.$secondary;
	margin-bottom: 2px; /* Don't cut off the box shadow*/
	transition:
		background-color 0.1s cubic-bezier(0.85, 0, 0.15, 1),
		color 0.1s cubic-bezier(0.85, 0, 0.15, 1);

	.notification {
		border-radius: 4px;
		transition: border-radius 0.2s cubic-bezier(0.85, 0, 0.15, 1);
		background-color: colors.$card;
		box-shadow: 0px 2px 0px 0px colors.$secondary;
	}
}

.notifications-window__clear {
	background: colors.$card;
	padding: 10px 16px;
	margin-right: 18px;
	border-radius: 30px;
	color: colors.$text;
	font-family: 'Monaspace Radon';
	border: 2px solid colors.$primary;
}

.notifications-window__clear:hover {
	background: colors.$primary;
	text-shadow: -1.5px -1.5px 0 colors.$background, 1.5px -1.5px 0 colors.$background, -1.5px 1.5px 0 colors.$background, 1.5px 1.5px 0 colors.$background;
}

.notifications-window__list {
	revealer{
		.notification{
			border-radius: 15px;
		}
	}
	revealer:first-child {
		.notification {
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}
	}

	revealer:last-child {
		.notification {
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			margin-bottom: 10px;
		}
	}
}
