@use "./colors.scss" as colors;

.powermenu {
	padding: 24px;
	border-radius: 30px;
	background: colors.$background;
	border: 2px solid colors.$primary;
	box-shadow: 0px 2px 0px 0px colors.$secondary;
	margin-bottom: 2px;
}

.powermenu__button_icon{
	font-size: 35px;
}

.powermenu__button {
	padding: 0;
	background: colors.$card;
	color: colors.$text;
	min-width: 100px;
	min-height: 100px;
	border-radius: 100px;
	border: 2px solid colors.$primary;
	box-shadow: 0px 2px 0px 0px colors.$secondary;
	text-shadow: -1.5px -1.5px 0 colors.$background, 1.5px -1.5px 0 colors.$background, -1.5px 1.5px 0 colors.$background, 1.5px 1.5px 0 colors.$background;
	background-size: 8px 8px;

	&:hover,
	&:focus {
		background-image: linear-gradient(45deg,
				colors.$primary 25%,
				transparent 25%,
				transparent 50%,
				colors.$primary 50%,
				colors.$primary 75%,
				transparent 75%,
				transparent);
		background-size: 8px 8px;
		box-shadow: 0px 2px 0px 0px colors.$secondary;
	}

	&:active {
		background: colors.$on_primary_container, colors.$inverse_surface_transparent_overlay;
	}
}

.powermenu__label {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Monaspace Xenon';
	margin-top: 25px;
	color: colors.$text;
}

.verification {
	min-width: 300px;
	padding: 24px;
	border-radius: 30px;
	background: colors.$background;
	border: 2px solid colors.$primary;
}

.verification__title {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Monaspace Radon';
}

.verification__description {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Monaspace Xenon';
}