/*Components*/
@mixin h1 {
    font-family: $h1_font;
    font-weight: $h1_weight;
    font-size: $h1_size;
    color: $text !important;
}

@mixin h2 {
    font-family: $h2_font;
    font-weight: $h2_weight;
    font-size: $h2_size;
    color: $text;
}

@mixin h3 {
    font-family: $h3_font;
    font-weight: $h3_weight;
    font-size: $h3_size;
    color: $text;
}

@mixin paragraph {
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    color: $text !important;
}

@mixin subtext {
    font-family: $subtext_font;
    font-weight: $subtext_weight;
    font-size: $subtext_size;
    color: $subtext;
}
@mixin textbox {
    background-color: $background-2;
    border-radius: $secondary-radius;
    border: $secondary-border;
    padding: 5px;
    color: $text;
    font-family: $paragraph_font;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    box-shadow: $inset;
    caret-color: $text;
}

@mixin card {
    background-color: $background-2;
    box-shadow: $border-shadow, $outset;
    border: $primary-border;
    padding: 10px;
    border-radius: $secondary-radius;
    margin-bottom: $outset_margin;
    transition: all $transition;
}

@mixin primary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
    text-shadow: $text-shadow;
}

@mixin primary-circular-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 42px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: 100%;
    text-shadow: $text-shadow;
}

@mixin primary-button-hover {
    background-color: $background-2 !important;
}

@mixin primary-button-active {
    background-color: $primary;
}

@mixin secondary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-2 !important;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition !important;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
}

@mixin secondary-button-hover {
    background-size: $background-size;
    background-image: $background-image !important;
    text-shadow: $text-shadow;
    box-shadow: $inset, $border-shadow;
}

@mixin secondary-button-active {
    background: $primary;
    box-shadow: $inset_primary;
    background-size: $background-size;
}
/*Navbar and other background*/
#global-nav-bar, .Root__top-container, .main-navBar-mainNav {
    background-color: $background;
}
/*svgs*/
.Svg-img-icon-medium, .Svg-img-icon-small, .Svg-img-icon-xlarge{
    fill: $text !important;
}
/*Navbar home button*/
.Root__globalNav .main-globalNav-navLink{
    @include secondary-button;
}
.Root__globalNav .main-globalNav-navLink:hover{
    @include secondary-button-hover;
    transform: none;
}
/*Navbar search*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar{
    @include textbox;
}

.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar:hover{
    background-color: $background-3;
}
/*What do you want to play?*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar{
    color: $text !important;
    padding-left: calc(var(--encore-layout-margin-looser) / 1.5);
}
/*Profile background*/
.main-userWidget-box{
    background-color: $background !important;
}
.main-userWidget-box:hover{
    transform: none;
}
/*Profile*/
.main-avatar-avatar{
    @include primary-button;
    padding-left: calc(16px - $outset_margin);
    padding-right: 14px;
    min-height: 32px;
    margin: 0 !important;
    border-radius: 100%;
}
.main-avatar-avatar:hover{
    @include primary-button-hover;
}
/*Library*/
.main-yourLibraryX-entryPoints{
    @include card;
    padding: 0;
}
.main-useDropTarget-base .main-useDropTarget-track .main-useDropTarget-local .main-useDropTarget-album .main-useDropTarget-artist .CU0fvofmxUbTupSDNOQ3 .main-useDropTarget-playlist .main-useDropTarget-show .main-useDropTarget-folder .main-useDropTarget-pseudoPlaylist .main-yourLibraryX-listItem{
    background-color: $background-2 !important;
}
.rowbutton-sc-xxkq4e-0 .fvljwa{
    background-color: $background-2 !important;
}
.rowbutton-sc-xxkq4e-0 .fvljwa:hover{
    background-color: $background-3 !important;
}
/*Library playlist button*/
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle{
    @include secondary-button;
}
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle:hover{
    @include secondary-button-hover;
}
.Button-buttonTertiary-medium-medium-iconLeading-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed{
    @include primary-button;
}
/*Filter buttons*/
.ChipInnerComponent-sm-isUsingKeyboard{
    @include secondary-button;
}
.ChipInnerComponent-sm-isUsingKeyboard:hover{
    @include secondary-button-hover;
}
.ChipInnerComponent-sm-selected-isUsingKeyboard{
    @include secondary-button-active;
}
.encore-internal-color-text-base{
    color: $text;
}
.encore-internal-color-text-bright-accent{
    color: $primary;
}
.encore-text-body-medium-bold{
    @include h2;
}
/*Now Playing*/
.AAdBM1nhG73supMfnYX7{
    @include card;
    background-color: $background-3 !important;
}
.main-nowPlayingView-section{
    @include card;
}

.encore-text-body-small-bold{
    @include paragraph;
}

.encore-text-body-small, .encore-internal-color-text-subdued{
    @include subtext;
}

.encore-text-headline-large, .main-entityHeader-topbarTitle{
    @include h1;
}

.XVz4BMGP5zAEE5p90mYK, .main-actionBar-ActionBar{
    background-color: $background-2;
}
/*Play buttons*/
.ButtonInner-large, .ButtonInner-medium{
    @include primary-circular-button;
}

.Svg-img-icon-large{
    fill: $text;
}
/*Add to playlist svgs*/
.Svg-img-icon-large-textBrightAccent, .Svg-img-icon-small-textBrightAccent{
    fill: $secondary;
}

.contentSpacing, .main-topBar-background{
    background-color: $background-2;
}

.hV9v6y_uYwdAsoiOHpzk{
    background: transparent;
}

.main-trackList-trackListHeader{
    border-bottom: $secondary-border !important;
}

.main-trackList-rowSectionIndex, .main-trackList-rowMarker{
    @include paragraph;
    color: $primary !important;
}

.UudGCx16EmBkuFPllvss a{
    color: $primary !important;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader{
    background: $background-2 !important;
}

.MGZ4oJmGVPrWsx5cT5hN{
    @include card;
    background-color: $background;
}

.CardTitle__LineClamp-sc-1h38un4-0 .LineClamp {
    @include paragraph;
}
/*Copyright*/
.TypeElement-type-finale{
    color: $primary;
}

.Root__main-view{
    @include card;
    padding: 0;
}
/*Spicetify update button*/
.Button-buttonTertiary-medium-medium-iconOnly-disabled-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed{
    color: $primary;
}

// .HUjfVPQnC1P8Q8dJlxVl.cRHuuh0O2EuJZbQ5oaEF, .artist-artistDiscography-topBar.artist-artistDiscography-topBarScrolled, .artist-artistDiscography-headerContainer, .XtGI24gayCCOR69pcBao, .EmeHQXR87mUskYK6xEde, .XxJxjdIexR1RXajhHYyv, .artist-artistOnTour-date.artist-artistOnTour-elevated, .zpjpg954p7ZWJiTjKWEL, .pT8jWX5PbLB2Z91Ngl7n, .pdkMNbSQl8Yi5tl0iOF9, .KM8BFaw7LbvBIcLnf2BX, .KM8BFaw7LbvBIcLnf2BX .RPo65cLEoLdTEkTummvb, .tAdvjJEctimN9bSKFEEs{
//     background-color: $background-2 !important;
//     background: $background-2 !important;
// }