/*Components*/
@mixin textbox {
    background-color: $background-2;
    border-radius: $secondary-radius;
    border: $secondary-border;
    padding: 5px;
    color: $text;
    font-family: $paragraph_font;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    box-shadow: $inset;
    caret-color: $text;
}

@mixin card {
    background-color: $background-2;
    box-shadow: $border-shadow, $outset;
    border: $primary-border;
    padding: 10px;
    border-radius: $secondary-radius;
    margin-bottom: $outset_margin;
    transition: all $transition;
}

@mixin primary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
    text-shadow: $text-shadow;
}

@mixin primary-button-hover {
    background-color: $background-2 !important;
}

@mixin primary-button-active {
    background-color: $primary;
}

@mixin secondary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-2 !important;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition !important;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
}

@mixin secondary-button-hover {
    background-size: $background-size;
    background-image: $background-image !important;
    text-shadow: $text-shadow;
    box-shadow: $inset, $border-shadow;
}

@mixin secondary-button-active {
    background: $primary;
    box-shadow: $inset_primary;
    background-size: $background-size;
}
/*Navbar and other background*/
#global-nav-bar, .Root__top-container, .main-navBar-mainNav {
    background-color: $background;
}
/*svgs*/
.Svg-img-icon-medium, .Svg-img-icon-small, .Svg-img-icon-xlarge{
    fill: $text !important;
}
/*Navbar home button*/
.Root__globalNav .main-globalNav-navLink{
    @include secondary-button;
}
.Root__globalNav .main-globalNav-navLink:hover{
    @include secondary-button-hover;
    transform: none;
}
/*Navbar search*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar{
    @include textbox;
}
/*What do you want to play?*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar{
    color: $text !important;
    padding-right: var(--encore-layout-margin-looser);
}
/*Profile background*/
.main-userWidget-box{
    background-color: $background !important;
}
.main-userWidget-box:hover{
    transform: none;
}
/*Profile*/
.main-avatar-avatar{
    @include primary-button;
    padding-left: calc(16px - $outset_margin);
    padding-right: 14px;
    min-height: 32px;
    margin: 0 !important;
    border-radius: 100%;
}
.main-avatar-avatar:hover{
    @include primary-button-hover;
}
/*Library*/
.main-yourLibraryX-entryPoints{
    @include card;
    padding: 0;
}
.main-useDropTarget-base .main-useDropTarget-track .main-useDropTarget-local .main-useDropTarget-album .main-useDropTarget-artist .CU0fvofmxUbTupSDNOQ3 .main-useDropTarget-playlist .main-useDropTarget-show .main-useDropTarget-folder .main-useDropTarget-pseudoPlaylist .main-yourLibraryX-listItem{
    background-color: $background-2 !important;
}
.rowbutton-sc-xxkq4e-0 .fvljwa{
    background-color: $background-2 !important;
}
.rowbutton-sc-xxkq4e-0 .fvljwa:hover{
    background-color: $background-3 !important;
}
/*Library playlist button*/
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle{
    @include secondary-button;
}
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle:hover{
    @include secondary-button-hover;
}
.Button-buttonTertiary-medium-medium-iconLeading-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed{
    @include primary-button;
}
