@use "./colors.scss" as colors;

.weather-window {
    background-color: colors.$background;
    min-height: 150px;
    min-width: 300px;
    border-radius: 30px;
    border: 2px solid colors.$primary;
    padding: 20px;
    color: colors.$text;
}
.temperature{
    font-size: 30px;
    font-family: 'Monaspace Radon';
    font-weight: bold;
}
.location_input{
    background-color: colors.$background;
    border-radius: 30px;
    border: 2px solid colors.$primary;
    padding: 5px;
    color: colors.$text;
    font-family: 'Monaspace Xenon';
}
.location{
    font-family: 'Monaspace Radon';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.location-header-container{
    min-width: 300px;
}
