/* Colors */
/* background: hsl(27, 15%, 93%)*/
/* card: hsl(0, 0%, 95%)*/
/* background-light: hsl(27, 15%, 83%)*/
/* primary: hsl(114, 85%, 47%)*/
/* secondary: hsl(226, 85%, 47%)*/
/* text: hsl(27, 69%, 20%)*/
/* subtext: hsl(27, 19%, 39%)*/
/* highlight_primary: hsl(114, 85%, 57%)*/
/* shadow_primary: hsl(114, 85%, 37%)*/
/*Difference between hue of Primary and Secondary is 112*/
/* Fonts */
/* General */
/* AppLauncher */
.app-launcher {
  min-width: 650px;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  border-radius: 20px;
  padding: 0px;
  min-height: 700px;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}

.app-launcher__input {
  background: #bebebe;
  outline: none;
  margin: 20px;
  padding: 12px 22px;
  border-radius: 20px;
  box-shadow: none;
  color: #562F10;
  font-family: "Monaspace Radon";
  font-size: 18px;
  font-weight: normal;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
  border: 2px solid #b4b4b4;
}
.app-launcher__input icon {
  margin-right: 20px;
}

.app-launcher__list {
  margin: 0 10px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.app-launcher__item {
  all: unset;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  padding: 12px 18px;
  border-radius: 20px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  border: 2px solid #b4b4b4;
  margin-bottom: 10px;
}
.app-launcher__item label {
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.app-launcher__item label.title {
  font-family: "Monaspace Xenon";
  font-size: 14px;
  font-weight: 300;
  color: #562F10;
  margin-bottom: 10px;
}
.app-launcher__item label.description {
  font-family: "Monaspace Xenon";
  font-size: 11px;
  font-weight: 100;
  color: #766251;
}
.app-launcher__item icon {
  font-size: 24px;
  margin-right: 10px;
}
.app-launcher__item:hover {
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
  background-color: #DAD3CD;
}
.app-launcher__item:focus {
  background-color: #26E012;
  box-shadow: inset 5px 5px 5px #47EF34, inset 5px 5px 5px #1EAF0E;
}
.app-launcher__item:active {
  background-color: #26E012;
  box-shadow: inset 5px 5px 5px #47EF34, inset 5px 5px 5px #1EAF0E;
  border-radius: 100px;
}

/*Common*/
* {
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  -gtk-icon-shadow: none;
}

icon {
  box-shadow: none;
  text-shadow: -1.5px -1.5px 0 #F0EDEA, 1.5px -1.5px 0 #F0EDEA, -1.5px 1.5px 0 #F0EDEA, 1.5px 1.5px 0 #F0EDEA;
}

slider {
  border: none;
  outline: none;
  background: #F0EDEA;
}

separator {
  background: none;
}

window {
  background: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

label {
  box-shadow: none;
}

window.popup > * {
  border: none;
  box-shadow: none;
}
window.popup menu {
  margin-top: 12px;
  border-radius: 26px;
  background-color: #F0EDEA;
  padding: 10px;
}
window.popup menu menuitem {
  min-width: 140px;
  padding: 12px 6px;
  color: #562F10;
  border-radius: 100px;
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
window.popup menu menuitem:hover {
  background: #bebebe;
}
window.popup menu menuitem:first-child {
  margin-top: 0;
}
window.popup menu menuitem:last-child {
  margin-bottom: 0;
}

switch {
  border: 2px solid #766251;
  border-radius: 100px;
  background-color: #bebebe;
}

switch slider {
  box-shadow: none;
  border-radius: 100px;
  background-color: #766251;
}

switch:hover slider,
switch:active slider {
  background-color: #766251;
}

switch:active {
  background-color: #bebebe;
}

switch:checked {
  background-color: #26E012;
  border: 2px solid #26E012;
}

switch:checked slider {
  background-color: #1242DE;
}

/*Components*/
.material-button {
  border-radius: 20px;
  padding: 3px 15px;
}
.material-button:focus {
  box-shadow: 0 0 0 1px #562F10;
}
.material-button.filled {
  background-image: linear-gradient(45deg, #26E012 25%, #bebebe 25%, #bebebe 50%, #26E012 50%, #26E012 75%, #bebebe 75%, #bebebe);
  background-size: 8px 8px;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  color: #562F10;
  border: 2px solid #26E012;
  text-shadow: -1.5px -1.5px 0 #F0EDEA, 1.5px -1.5px 0 #F0EDEA, -1.5px 1.5px 0 #F0EDEA, 1.5px 1.5px 0 #F0EDEA;
}
.material-button.filled:hover, .material-button.filled:focus {
  background: #26E012;
  background-size: 8px 8px;
  color: #F0EDEA;
}
.material-button.filled:active {
  background: #26E012;
  background-size: 8px 8px;
  color: #F0EDEA;
}
.material-button.outlined {
  background: none;
  color: #562F10;
  border: 2px solid #26E012;
}
.material-button.outlined:hover {
  background-image: linear-gradient(45deg, #26E012 25%, #bebebe 25%, #bebebe 50%, #26E012 50%, #26E012 75%, #bebebe 75%, #bebebe);
  background-size: 8px 8px;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  border: 2px solid #26E012;
  text-shadow: -1.5px -1.5px 0 #F0EDEA, 1.5px -1.5px 0 #F0EDEA, -1.5px 1.5px 0 #F0EDEA, 1.5px 1.5px 0 #F0EDEA;
}
.material-button.outlined:focus {
  background: #26E012;
}
.material-button.outlined:active {
  background: #26E012;
}

/*Bar*/
.bar {
  min-height: 60px;
  padding: 0 12px;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  margin: 7px 7px 7px 7px;
  border-radius: 20px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}

.arch-container {
  padding: 10px 0px;
}

.bar__item {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 42px;
  border-radius: 24px;
  background: #bebebe;
  color: #562F10;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  font-family: "Monaspace Radon";
  transition: all 0.3s 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  margin-right: 6px;
  border: 2px solid #b4b4b4;
}
.bar__item.bar__button:hover {
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.bar__item.bar__button:active {
  background: #26E012;
}
.bar__item.bar__button.active {
  background: #26E012;
  color: #562F10;
}
.bar__item.bar__button.bar__recording-indicator {
  padding: 0;
  min-height: 42px;
  min-width: 42px;
  background: #e99898;
  color: #562F10;
}
.bar__item.bar__button.bar__recording-indicator:hover {
  color: #e99898;
  background: #562F10;
}
.bar__item.bar__button.bar__recording-indicator.spacing {
  padding-left: 16px;
  padding-right: 16px;
}
.bar__item.bar__button.bar__recording-indicator.spacing label {
  min-width: 54px;
  margin-right: 8px;
}

.bar__item.transparent {
  background: transparent;
  color: #562F10;
}

.bar__item.primary_container {
  background: #bebebe;
  color: #562F10;
}

.bar__workspaces-indicator {
  padding: 0;
  min-width: 8px;
  min-height: 8px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 100px;
  background-color: #bebebe;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  border: 2px solid #b4b4b4;
}
.bar__workspaces-indicator:hover {
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}
.bar__workspaces-indicator.active, .bar__workspaces-indicator:active {
  min-height: 12px;
  min-width: 40px;
  box-shadow: inset 0px -5px 5px #1EAF0E, inset 5px 5px 5px #47EF34;
  background-color: #26E012;
}

.bar__active-app {
  padding-left: 12px;
  padding-right: 16px;
}
.bar__active-app icon {
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
}
.bar__active-app .desktop icon {
  font-size: 14px;
}

.bar__keyboard-layout {
  padding: 0;
  min-height: 42px;
  min-width: 42px;
}

.bar__battery {
  padding-left: 10px;
  padding-right: 10px;
}

.bar__notifications {
  padding-left: 12px;
  padding-right: 10px;
}

.bar__notifications_label {
  font-size: 12px;
  border-radius: 9px;
  min-width: 18px;
  min-height: 18px;
  background: #562F10;
  color: #bebebe;
}

.bar__tray {
  padding-left: 10px;
  padding-right: 10px;
}

.bar__tray-item {
  padding: 0;
  min-width: 22px;
  min-height: 22px;
  background: none;
}
.bar__tray-item:hover {
  background-color: rgba(38, 224, 18, 0.6);
}
.bar__tray-item icon {
  font-size: 18px;
}

.bar__rounded-box .bar__item {
  border-radius: 15px;
}

.bar__rounded-box > *:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.bar__rounded-box > *:first-child, .bar__rounded-box > *:first-child > * {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/*Control Center*/
.control-center__container {
  border-radius: 20px;
  min-width: 450px;
  min-height: 650px;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  margin-bottom: 6px;
  margin-right: 6px;
}

.control-center__page {
  padding: 20px 20px 0px 20px;
}

.control-center__page.main {
  padding: 10px;
}

.control-center__page_scrollable-content {
  margin-bottom: 20px;
}

.control-center__page_header {
  color: #562F10;
  margin-top: 8px;
  margin-bottom: 24px;
}
.control-center__page_header label {
  font-size: 24px;
  font-weight: normal;
  font-family: "Monaspace Radon";
}

.control-center__page_header_button {
  background: #26E012;
  color: #562F10;
  min-width: 38px;
  min-height: 38px;
  border-radius: 100px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}
.control-center__page_header_button:hover {
  background-color: #bebebe;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}

.control-center__page_item-header {
  background: #F0EDEA;
  color: #562F10;
  font-family: "Monaspace Radon";
  font-size: 18px;
  font-weight: normal;
  border-radius: 20px;
  padding: 0px 22px;
  min-height: 80px;
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.control-center__page_item-header.active {
  background: #bebebe;
}
.control-center__page_item-header label {
  font-size: 18px;
  font-weight: normal;
  margin-left: 16px;
}

.control-center__page_item {
  background: #bebebe;
  padding: 18px 22px;
  color: #562F10;
  font-weight: 300;
  font-size: 14px;
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.control-center__page_item:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 10px;
}
.control-center__page_item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.control-center__page_item label {
  font-size: 14px;
  font-weight: 300;
  font-family: "Monaspace Xenon";
  color: #562F10;
  margin-left: 16px;
}
.control-center__page_item:hover {
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}

.control-center__button {
  background-color: #bebebe;
  color: #562F10;
  padding: 10px 24px 10px 30px;
  border-radius: 20px;
  font-family: "Monaspace Radon";
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 2px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}
.control-center__button.active {
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  color: #562F10;
  background-color: #26E012;
}
.control-center__button.active:hover {
  background: #26E012;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.control-center__button.active:active {
  background: #26E012;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.control-center__button:hover {
  color: #562F10;
  background-color: #26E012;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.control-center__button.no-label {
  padding: 0;
}
.control-center__button.recorder-indicator.active {
  background: #e99898;
  color: #562F10;
}
.control-center__button.recorder-indicator.active:hover {
  background: #bebebe;
}
.control-center__button.recorder-indicator.active:active {
  background: #e99898;
}

.control-center__dropdown-menu {
  background: #F0EDEA;
  border-radius: 20px;
  padding: 24px;
}

.control-center__dropdown-menu_icon {
  font-size: 20px;
  color: #562F10;
}

.control-center__dropdown-menu_title {
  font-size: 20px;
  font-weight: 600;
}

.control-center__dropdown-menu_item icon {
  font-size: 16px;
}
.control-center__dropdown-menu_item label {
  font-size: 16px;
}

.control-center__brightness-slider *,
.control-center__volume-slider * {
  padding: 0;
  margin: 0;
  border: none;
}
.control-center__brightness-slider .control-center__slider-icon,
.control-center__volume-slider .control-center__slider-icon {
  color: #562F10;
  margin-left: 0;
  font-size: 20px;
}
.control-center__brightness-slider trough,
.control-center__volume-slider trough {
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 100px;
  background-color: #DAD3CD;
  min-height: 15px;
}
.control-center__brightness-slider trough highlight,
.control-center__volume-slider trough highlight {
  min-width: 15px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 20px;
  background-image: linear-gradient(45deg, #26E012 25%, #bebebe 25%, #bebebe 50%, #26E012 50%, #26E012 75%, #bebebe 75%, #bebebe);
  background-size: 8px 8px;
  border: 2px solid #26E012;
  padding: 2px 0px;
  margin: -2px 0px;
}
.control-center__brightness-slider trough slider,
.control-center__volume-slider trough slider {
  min-width: 30px;
  border-radius: 100px;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.muted .control-center__volume-slider highlight {
  background-color: #F0EDEA;
}
.muted .control-center__slider-icon {
  color: #562F10;
}

.control-center__time-to-empty {
  color: #562F10;
  font-size: 14px;
  font-weight: 300;
  font-family: "Monaspace Xenon";
}

.control-center__settings-button,
.control-center__powermenu-button {
  min-width: 42px;
  min-height: 42px;
  background: #bebebe;
  color: #562F10;
  border: 2px solid #26E012;
  border-radius: 100px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.control-center__settings-button:hover {
  background: #1242DE;
  color: #562F10;
}

.control-center__powermenu-button:hover {
  background: #1242DE;
  color: #562F10;
}

.control-center__footer {
  margin: 10px 8px;
}

/*Dashboard*/
.dashboard {
  border-radius: 0px;
  min-width: 420px;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.block {
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  font-family: "Monaspace Xenon";
  margin-bottom: 6px;
  margin-right: 6px;
}

.placeholder {
  color: red;
}
.placeholder label {
  font-size: 18px;
}

.calendar__header {
  margin-top: 12px;
  padding: 10px;
  font-family: "Monaspace Radon";
  font-size: 24px;
  font-weight: normal;
}

.calendar__monthyear * {
  font-size: 24px;
  font-weight: normal;
  font-family: "Monaspace Radon";
  color: #562F10;
}

.calendar__weekdays {
  color: #562F10;
}

.calendar__days {
  color: #562F10;
}

.calendar__button {
  padding: 10px 12px;
}

.calendar__button__today {
  border-radius: 100px;
  background: #26E012;
  color: #562F10;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  font-family: "Monaspace Radon";
  font-weight: normal;
  font-size: 24px;
}

.calendar__button {
  color: #562F10;
  font-family: "Monaspace Xenon";
  font-weight: 300;
  font-size: 14px;
}

.calendar__button__other-month {
  color: #766251;
  font-family: "Monaspace Xenon";
  font-size: 11px;
  font-weight: 100;
}

.calendar__weekday {
  min-height: 40px;
  min-width: 36px;
}

.calendar__day {
  border-radius: 100px;
  min-height: 40px;
  min-width: 40px;
}
.calendar__day.active {
  background: #26E012;
}
.calendar__day.inactive {
  color: #F0EDEA;
}

/*Notification*/
.notification {
  padding: 14px 16px 14px 20px;
  color: #562F10;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  border-radius: 20px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  margin-bottom: 6px;
  margin-right: 6px;
}

.notification__icon {
  min-height: 30px;
  min-width: 30px;
  margin-right: 14px;
  border-radius: 100px;
  background: #bebebe;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}

.notification__icon.telegram {
  margin-top: 8px;
}

.notification__title {
  font-size: 15px;
  font-weight: 500;
  font-family: "monaspace radon";
}

.notification__header {
  margin-top: 6px;
  margin-bottom: 10px;
  font-family: "monaspace radon";
}

.notification__app-name,
.notification__dot,
.notification__time {
  color: #766251;
  font-size: 12px;
  font-weight: 400;
  font-family: "Monaspace Xenon";
}

.notification__description {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Monaspace Xenon";
}

.notification__actions {
  margin-top: 8px;
}

.notification__action {
  background: none;
  transition: color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  color: #26E012;
  border-radius: 100px;
}
.notification__action:hover {
  color: #562F10;
  transition: color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.notification__action:first-child {
  margin-left: 0;
}
.notification__action:last-child {
  margin-right: 0;
}

.notification__close-button {
  padding: 0;
  min-width: 22px;
  min-height: 22px;
  border-radius: 100px;
  background-color: #26E012;
  color: #562F10;
  font-size: 16px;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.notification__close-button:hover {
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}

/*NotificationsPopup*/
.NotificationsPopup {
  background: none;
}

.notifications-popup {
  min-width: 450px;
}

/*NotificationsWindow*/
.notifications-window {
  border-radius: 20px;
  min-width: 400px;
  min-height: 550px;
  padding: 10px 10px 0;
  background-image: linear-gradient(145deg, #bebebe, #F0EDEA);
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  margin-bottom: 6px;
  margin-right: 6px;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.notifications-window .notification {
  border-radius: 4px;
  transition: border-radius 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  background-color: #bebebe;
  box-shadow: 0px 2px 0px 0px #1242DE;
}

.notifications-window__clear {
  background: #bebebe;
  padding: 10px 16px;
  margin-right: 18px;
  border-radius: 20px;
  color: #562F10;
  font-family: "Monaspace Radon";
  border: 2px solid #26E012;
}

.notifications-window__clear:hover {
  background: #26E012;
  text-shadow: -1.5px -1.5px 0 #F0EDEA, 1.5px -1.5px 0 #F0EDEA, -1.5px 1.5px 0 #F0EDEA, 1.5px 1.5px 0 #F0EDEA;
}

.notifications-window__list revealer .notification {
  border-radius: 15px;
}
.notifications-window__list revealer:first-child .notification {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.notifications-window__list revealer:last-child .notification {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 10px;
}

/*OSD*/
.OSD,
.osd {
  background: transparent;
}
.OSD icon,
.osd icon {
  font-size: 35px;
  margin-left: 25px;
}

.container {
  background-color: #F0EDEA;
  border-radius: 20px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  margin-bottom: 20px;
  margin-right: 6px;
}

.indicator .progress {
  border-radius: 20px;
  background-color: #bebebe;
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
  margin: 25px;
  padding: 0px;
}
.indicator .progress .fill {
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 20px;
  color: #562F10;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
  background-color: #26E012;
  padding: 2px 0px;
  margin: -2px 0px;
}
.indicator .progress .fill.muted {
  background-color: #F0EDEA;
  color: #562F10;
}

/*Player*/
.player {
  min-height: 155px;
  background: #F0EDEA;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  margin-bottom: 2px;
  padding: 20px 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: background 0.5s 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.player__icon {
  font-size: 20px;
}

.player__box {
  background-color: #bebebe;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #26E012;
}

.player__title {
  font-weight: normal;
  font-size: 24px;
  font-family: "Monaspace Radon";
  color: #562F10;
  padding-right: 18px;
}

.player__artist {
  padding-right: 18px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Monaspace Xenon";
  color: #562F10;
  padding-top: 10px;
}

.player__playpause {
  min-width: 60px;
  min-height: 60px;
  padding: 0;
  background: #bebebe;
  color: #562F10;
  font-size: 24px;
  border-radius: 0px;
  border: 2px solid #26E012;
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1), border-radius 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 20px;
  background-size: 8px 8px;
}
.player__playpause.active {
  border-radius: 25px;
  background: linear-gradient(45deg, #26E012 25%, #bebebe 25%, #bebebe 50%, #26E012 50%, #26E012 75%, #bebebe 75%, #bebebe);
  background-size: 8px 8px;
  border: 2px solid #26E012;
}

.player__next,
.player__previous {
  background: none;
}

.player__title-box {
  animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);
}
.player__title-box.dissappear {
  animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
}

.player__position-slider trough {
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 100px;
  background-color: #DAD3CD;
  min-height: 15px;
}
.player__position-slider trough highlight {
  min-width: 15px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  border-radius: 20px;
  background-image: linear-gradient(45deg, #26E012 25%, #bebebe 25%, #bebebe 50%, #26E012 50%, #26E012 75%, #bebebe 75%, #bebebe);
  background-size: 8px 8px;
  border: 2px solid #26E012;
  padding: 2px 0px;
  margin: -2px 0px;
}
.player__position-slider trough slider {
  min-width: 30px;
  border-radius: 100px;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.2s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.player__indicator {
  min-width: 8px;
  min-height: 8px;
  background: #F0EDEA;
  border-radius: 100px;
  margin-bottom: 8px;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.player__indicator.selected {
  background: #562F10;
}

@keyframes slide {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100px;
    opacity: 0;
  }
}
@keyframes slide-back {
  from {
    margin-left: 100px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/*PopupMenu*/
.PopupMenu {
  background: none;
}

.popup-menu {
  min-height: 400px;
  background: #F0EDEA;
  border-radius: 20px;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  margin-bottom: 2px;
  padding: 0 20px;
}
.popup-menu.sink {
  min-width: 350px;
}
.popup-menu.mixer {
  min-width: 500px;
}
.popup-menu.theme-settings {
  min-width: 400px;
}

.profiles {
  min-height: 270px;
}

.popup-menu__header {
  margin: 30px 16px;
  margin-bottom: 0px;
}
.popup-menu__header label {
  font-size: 24px;
  font-weight: normal;
  font-family: "Monaspace Radon";
  color: #562F10;
}

.popup-menu__content > * > * {
  background: none;
}

.popup-menu__item {
  background: none;
  padding: 18px;
  color: #562F10;
  border-radius: 100px;
  transition: background 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}
.popup-menu__item label {
  font-size: 14px;
  font-weight: 500;
}
.popup-menu__item icon {
  margin-right: 16px;
}
.popup-menu__item:hover {
  background-color: #bebebe;
}
.popup-menu__item:last-child {
  margin-bottom: 20px;
}

.mixer__item {
  padding: 10px;
}
.mixer__item icon {
  font-size: 32px;
  margin-right: 0px;
}
.mixer__item:hover {
  background: none;
}

.mixer__slider {
  padding: 0;
  margin: 0;
}
.mixer__slider trough {
  margin-top: 6px;
  border-radius: 100px;
  background-color: #F0EDEA;
  min-height: 14px;
}
.mixer__slider trough highlight,
.mixer__slider trough progress {
  border-radius: 100px;
  background-color: #26E012;
  border-radius: 100px;
}
.mixer__slider trough slider {
  border-radius: 100px;
  min-height: 14px;
  min-width: 14px;
  background-color: transparent;
  box-shadow: none;
}

.mixer__value {
  background: #bebebe;
  border-radius: 100px;
  min-width: 56px;
}

.bluetooth__percentage {
  background: #bebebe;
  color: #562F10;
  border-radius: 100px;
  padding: 0px 12px;
  margin-left: 12px;
  border: 2px solid #26E012;
}

.mixer-placeholder {
  margin-top: -50px;
}
.mixer-placeholder label {
  font-size: 18px;
}

/*PowerMenu*/
.powermenu {
  padding: 24px;
  border-radius: 20px;
  background: #F0EDEA;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  margin-bottom: 2px;
}

.powermenu__button_icon {
  font-size: 35px;
}

.powermenu__button {
  padding: 0;
  background: #bebebe;
  color: #562F10;
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
  border: 2px solid #26E012;
  box-shadow: 0px 2px 0px 0px #1242DE;
  text-shadow: -1.5px -1.5px 0 #F0EDEA, 1.5px -1.5px 0 #F0EDEA, -1.5px 1.5px 0 #F0EDEA, 1.5px 1.5px 0 #F0EDEA;
  background-size: 8px 8px;
}
.powermenu__button:hover, .powermenu__button:focus {
  background-image: linear-gradient(45deg, #26E012 25%, transparent 25%, transparent 50%, #26E012 50%, #26E012 75%, transparent 75%, transparent);
  background-size: 8px 8px;
  box-shadow: 0px 2px 0px 0px #1242DE;
}
.powermenu__button:active {
  background: #bebebe;
}

.powermenu__label {
  font-size: 16px;
  font-weight: 500;
  font-family: "monaspace xenon";
  margin-top: 25px;
  color: #562F10;
}

.verification {
  min-width: 300px;
  padding: 24px;
  border-radius: 20px;
  background: #F0EDEA;
  border: 2px solid #26E012;
}

.verification__title {
  font-size: 20px;
  font-weight: bold;
  font-family: "monaspace radon";
}

.verification__description {
  font-size: 16px;
  font-weight: 400;
  font-family: "monaspace xenon";
}

/*Scrim*/
.transparent-scrim {
  background: transparent;
}

.scrim {
  background: rgba(0, 0, 0, 0.5);
}

/*ThemeSettings*/
.buttons-container {
  min-width: 360px;
  padding: 20px;
}

.mode-settings__button_left {
  background-color: #bebebe;
  border-radius: 20px;
  color: #562F10;
  font-family: "Monaspace Radon";
  font-size: 18px;
  font-weight: normal;
  min-width: 170px;
  padding: 10px 0px;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}
.mode-settings__button_left.hover {
  box-shadow: inset 5px 5px 5px #e9e9e9, inset 5px 5px 5px #b4b4b4;
}
.mode-settings__button_left.active {
  background: #26E012;
  box-shadow: inset 0px -5px 5px #b4b4b4, inset 5px 5px 5px #e9e9e9;
}

.mode-settings__button_right {
  background-color: #bebebe;
  border: 2px solid #26E012;
  border-radius: 0px 30px 30px 0px;
  color: #562F10;
  font-family: "Monaspace Radon";
  font-size: 18px;
  font-weight: normal;
  min-width: 170px;
  padding: 10px 0px;
}
.mode-settings__button_right.active {
  background: #26E012;
  color: #562F10;
}

.theme {
  font-family: "Monaspace Radon";
  font-size: 24px;
  font-weight: normal;
  color: #562F10;
  padding: 7px;
}

.theme-buttons {
  background-color: #bebebe;
  border: 2px solid #26E012;
  border-radius: 20px;
  color: #562F10;
  padding: 10px 0px;
  min-width: 75px;
}

.label {
  font-family: "Monaspace Xenon";
  color: #562F10;
  font-size: 14px;
  font-weight: 300;
  padding-top: 15px;
}

/*Weather*/
.weather-window {
  background-color: #F0EDEA;
  min-height: 150px;
  min-width: 300px;
  border-radius: 20px;
  border: 2px solid #26E012;
  padding: 20px;
  color: #562F10;
}

.temperature {
  font-size: 30px;
  font-family: "Monaspace Radon";
  font-weight: bold;
}

.location_input {
  background-color: #F0EDEA;
  border-radius: 20px;
  border: 2px solid #26E012;
  padding: 5px;
  color: #562F10;
  font-family: "Monaspace Xenon";
}

.location {
  font-family: "Monaspace Radon";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.location-header-container {
  min-width: 300px;
}

/*# sourceMappingURL=main.css.map */
